* {
    padding: 0px;
    margin: 0px;
<<<<<<< Updated upstream
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;
}
=======
    font-family: ;
}
>>>>>>> Stashed changes
